@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);#footer {
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

